// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//colors
$color_log_cabin_approx: #222;
$color_tapa_approx: #777;
$color_sunglow_approx: #fed136;
$color_supernova_approx: #fec503;
$color_black_haze_approx: #f7f7f7;
$white: #fff;
$color_amber_approx: #f6bf01;
$white_2: rgba(255,255,255,.02);
$color_sunglow_90_approx: rgba(254,209,54,.9);
$seashell: #f1f1f1;
$color_pink_swan_approx: #bbb;
$color_cinnabar_approx: #e74c3c;


body {
  padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,
.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

.navbar-default {
  border-color: transparent;
  background-color: $color_log_cabin_approx;
  .navbar-brand {
    color: $color_sunglow_approx;
    &:hover {
      color: $color_supernova_approx;
    }
    &:focus {
      color: $color_supernova_approx;
    }
    &:active {
      color: $color_supernova_approx;
    }
    &.active {
      color: $color_supernova_approx;
    }
  }
  .navbar-collapse {
    border-color: $white_2;
  }
  .navbar-toggle {
    border-color: $color_sunglow_approx;
    background-color: $color_sunglow_approx;
    .icon-bar {
      background-color: $white;
    }
    &:hover {
      background-color: $color_sunglow_approx;
    }
    &:focus {
      background-color: $color_sunglow_approx;
    }
  }
  .nav li a {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: $white;
    &:hover {
      outline: 0;
      color: $color_sunglow_approx;
    }
    &:focus {
      outline: 0;
      color: $color_sunglow_approx;
    }
  }
  .navbar-nav>.active>a {
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    color: $white;
    background-color: $color_sunglow_approx;
    &:hover {
      color: $white;
      background-color: $color_supernova_approx;
    }
    &:focus {
      color: $white;
      background-color: $color_supernova_approx;
    }
  }
}