$color_log_cabin_approx: #222;
$color_tapa_approx: #777;
$color_sunglow_approx: #fed136;
$color_supernova_approx: #fec503;
$color_black_haze_approx: #f7f7f7;
$white: #fff;
$color_amber_approx: #f6bf01;
$white_2: rgba(255,255,255,.02);
$color_sunglow_90_approx: rgba(254,209,54,.9);
$seashell: #f1f1f1;
$color_pink_swan_approx: #bbb;
$color_cinnabar_approx: #e74c3c;

//fonts
$font_0: 'Droid Serif';
$font_1: 'Helvetica Neue';
$font_2: 'Helvetica';
$font_3: 'Arial';
$font_4: 'sans-serif';
$font_5: 'Montserrat';
$font_10: 'Roboto Slab';
$font_30: 'Kaushan Script';
$font_34: 'cursive';


a {
  outline: 0;
  color: $color_sunglow_approx;
  &:hover {
    outline: 0;
    color: $color_supernova_approx;
  }
  &:focus {
    outline: 0;
    color: $color_supernova_approx;
  }
  &:active {
    outline: 0;
    color: $color_supernova_approx;
  }
  &.active {
    outline: 0;
    color: $color_supernova_approx;
  }
}

.navbar-default {
  border-color: transparent;
  background-color: $color_log_cabin_approx;
  .navbar-brand {
    font-family: $font_30, $font_1, $font_2, $font_3, $font_34;
    color: $color_sunglow_approx;
    &:hover {
      color: $color_supernova_approx;
    }
    &:focus {
      color: $color_supernova_approx;
    }
    &:active {
      color: $color_supernova_approx;
    }
    &.active {
      color: $color_supernova_approx;
    }
  }
  .navbar-collapse {
    border-color: $white_2;
  }
  .navbar-toggle {
    border-color: $color_sunglow_approx;
    background-color: $color_sunglow_approx;
    .icon-bar {
      background-color: $white;
    }
    &:hover {
      background-color: $color_sunglow_approx;
    }
    &:focus {
      background-color: $color_sunglow_approx;
    }
  }
  .nav li a {
    text-transform: uppercase;
    font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
    font-weight: 400;
    letter-spacing: 1px;
    color: $white;
    &:hover {
      outline: 0;
      color: $color_sunglow_approx;
    }
    &:focus {
      outline: 0;
      color: $color_sunglow_approx;
    }
  }
  .navbar-nav>.active>a {
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 0;
    color: $white;
    background-color: $color_sunglow_approx;
    &:hover {
      color: $white;
      background-color: $color_supernova_approx;
    }
    &:focus {
      color: $white;
      background-color: $color_supernova_approx;
    }
  }
}
